<% provide(:title, 'Home') %>

	<h1>e-Transcripts</h1>

<!--<%= link_to "Sign up now!", 'signup', class: "btn btn-large btn-primary" %>-->
	<!--<section  fontcolor="gray" align="left" float="left" clear="right">
	Random Text and involves informantion about<br/> the softwatre and we can put our cobtact infoa and stuf here.
	In United States education, a transcript (Cumulative Record File, CRF, permanent record, or simply record) is a copy of a student's permanent academic record, which usually means all courses taken, all grades received, all honors received and degrees conferred to a student. Basically receiving all of your records from the first day of school till the school year now.[1] A transcript may also contain the number of people in a class, and the average grade of the class. An official transcript is prepared and sent by the issuing school usually by the Student Registrary with an original signature of a school official. When students are thinking about changing schools, the cumulative transcripts get mailed from school to school. Transcripts usually consist of grades 9-12 when applying to colleges. Transcripts are most often issued and used at the high school (grades 9-12) and university levels.

</section>-->


<div align="center" class="hero-unit">
	
 <form class="form-horizontal">
  <div class="form-group">
  <div class="col-xs-2">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Username">

  </div>
    <!--<label >Username</label>-->
  </div>
  <br/>
  <div class="form-group">
    <!--<label>Email Id</label>-->
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email Id">
  </div>
    <br/>

  <div class="form-group">
    <!--<label>Password</label>-->
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
  </div>
   <br/>
<div class="form-group">
<input type="checkbox"/> Accept Terms and Conditions
</div>
<br/>
  <div class="form-group">
  	 <button type="submit" class="btn btn-primary btn-lg">Sign Up for free
</button>
     
  </div>
</form>

</div>

